{
  "plugins": ["html", "vue"],
  "extends": ["vue"],
  "rules": {
    /* overrides -- vue/jsx-uses-vars is included in eslint-config-vue */
  },
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false
        }
    },
    "validate":[
        ".vue"
    ]
}